$graygreen_slate:linear-gradient(90deg, rgb(136, 162, 124), rgb(168, 168, 168));
$graybrown_slate:linear-gradient(90deg, rgb(94, 95, 87), rgb(116, 116, 116));

$lightgreenish:linear-gradient(90deg, rgb(108, 207, 34), rgb(91, 202, 90));
$solidgreen:linear-gradient(90deg, rgb(39, 131, 6), rgb(27, 161, 47));

$teal:linear-gradient(90deg, rgb(5, 238, 226), rgb(65, 169, 229));
$turqouisey:linear-gradient(90deg, rgb(11, 153, 103), rgb(36, 170, 179));
$sky_teal:linear-gradient(90deg, rgb(167, 226, 239), rgb(215, 226, 242));
$silvery:linear-gradient(90deg, rgb(171, 179, 238), rgb(225, 218, 242));
$darker_silvery:linear-gradient(90deg, rgb(108, 141, 173), rgb(159, 160, 173));

$reddish:linear-gradient(90deg, rgb(72, 22, 40), rgb(97, 51, 48));
$orange_red:linear-gradient(90deg, rgb(252, 31, 86), rgb(235, 122, 99));
$yellow_orange:linear-gradient(90deg, rgb(174, 79, 9), rgb(199, 173, 35));

$blue_gray:linear-gradient(270deg, rgb(80, 102, 161), rgb(135, 131, 161));
$light_blue_fuscha:linear-gradient(90deg, rgb(83, 166, 240), rgb(144, 153, 230));
$light_green_blue_darkblue:linear-gradient(90deg, rgb(15, 104, 139), rgb(40, 78, 164));
$blueish_darkpurple:linear-gradient(90deg, rgb(14, 28, 82), rgb(52, 36, 111));
$dark_gray_purple:linear-gradient(90deg, rgb(27, 28, 59), rgb(66, 57, 80));