// Use @extend for placeholders
%useBodyFont {
  font-family:'Roboto', sans-serif;
  }
  %useHeadlineFont {
  font-family:'Montserrat', sans-serif;
  }

%container {
  max-width : 50em;
  margin : 0 auto;

  background-color : $container-Bg;
  div,
  p {
    padding : 4em;
  
    transition : all 0.5s;
    &:hover {
      @include shadow(3px,2px,3px,2px);
    }
  }
}
%outsideMargin {
  width : 80%;
  max-width : 80%;
  margin : 0 auto;

  background-color : $container-Bg;
}
%zeroMargin {
  margin : 0;
}

